:root{
    --primario:rgb(8, 200, 248);
    --secundario: rgba(115,17,233,1);
}

body{
    background-color:antiquewhite;
}
.nav-bar ul{
    margin: 0;
    padding: 0;
    background-color: var(--primario);
    height: 3rem;
    width:100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    list-style: none;
  }
  
  
  .nav-bar ul li a:hover{
    text-decoration: none;
    color:var(--secundario);
  }
  
  .nav-bar ul li a{
    text-decoration: none;
    color: white;
    display: block;
  }
  
  
  .icono-menu{
    margin-top: 5px;
    height:2.5rem;
  }
  
  .bandera{
    margin-top: 5px;
    height:2.5rem;
    border-radius: 0.5rem;
  }
  
  
  h1{
    margin-top: 40%;
    text-align: center;
  }

.todo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    width: 330px;
    height:auto;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.521);
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;  
}

.nombre-actividad{
    text-align: center;
}

.imagen{
    text-align: center;
    width: 300px;
    margin-left:12px;
}

.parrafo{
    text-align:left;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.salidas{
    text-align:left;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nom-salida{
    display: flex;
    align-items: center;
    text-align:left;
    margin-left: 10px;
    color: rgb(0, 172, 240);
    text-decoration: none;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
